[user]
  name =
  email =
  token =
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  ka = !gitk --all
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status
  co = checkout
  cm = commit -m
  ca = commit --amend
  cam = commit --amend -m
  di = diff
  ds = diff --staged
  pr = pull --rebase
  prc = rebase --continue
  pra = rebase --abort
  sh = stash
  sp = stash pop
  rp = remote prune origin
  bc = branch
  bd = branch -d
  bm = branch -m
  cp = cherry-pick -m 1
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  un = reset --soft HEAD^
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[merge]
  tool = vimdiff
[push]
  default = tracking
